

.header{
    display: flex;
    justify-content: space-around;
    color: white;
    background-size: 100% 100%;
    width: 100%;
    height: 799px;
    background-image: url(../images/schitovoe_oborudovanie_l\ 1.png);
    background-repeat: no-repeat;
    background-size: cover; 
    
}

.header-logo{
    display: flex;
    flex-direction: column;
    gap: 127px;
    padding-top: 111px;
}
.header-logo p {
    /* padding-left: 20px; */
    line-height: 135%;
    font-size: 65px;
    font-weight: 600;
}



.nav-wrapper{
    display: inline-block;
    
}
.header-nav{
    
    display: flex;
    flex-direction: column;
    gap: 110px;
    align-items: end;
}

.list-items{
   
    display: flex;
    gap: 26px;
    padding-top: 75px;
}
.list-items li {
    
    cursor: pointer;
}
.header-contacts{
    display: flex;
    flex-direction: column;
    gap: 17px;
    font-size: 20px;
    max-width: 358px;
}
.header-contacts div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header-contacts a {
    color: white;
    font-size: 40px ;
    line-height: 148%;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;

}


/* adapt */
@media (max-width: 900px) {

    .header{
        position: relative;
        flex-direction: column;
        /* padding-left: 60px; */
        padding-bottom: 100px;
        height: auto;
        background-position: center;
        align-items: center;
    }
    .header-logo,.nav-wrapper{
        max-width: 300px;
        text-align: center;
        align-items: center;
    }
    .list-items{
     position: absolute ;
     width: 310px;
     top: 0;
     left: 50%; 
     transform: translateX(-50%); 
     padding-top: 70px;
     font-size: 12px;
     gap: 15px;

    }
 
    .header-nav{
        align-items: start;
        gap: 70px;
        
    }
    .header-logo{
        gap: 90px;
        padding-top: 145px;
    }
    .header-logo p{
        font-size: 36px;
        padding: 0;
    }
    .header-contacts{
        gap: 2px;
    }
    .header-contacts p{
        font-size: 20px;
    }
    .header-contacts a p {
        font-size: 24px;
    }
    .mail p{
        font-size: 20px !important;
    }
}
@media (max-width: 460px) {

}